<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <h2>Bundle & Save</h2>
    <div class="card" id="card">
        <div class="top">
            <div class="content">
                <div>
                    <input type="checkbox" name="" value="2" id="radio1">
                </div>
                <div>
                    <p>1 Pair</p>
                    <p style="font-weight:600;">DKK 195.00</p>
                </div>
            </div>

            <div>
                <p style="font-weight:600;">50% OFF</p>
            </div>
        </div>
        <div class="dropDowns" id="selects" style="display: none;">
            <div style="text-align: center;">
                <label for="Size">Size</label>
                <br>
                <br>
                <select class="form-select">
                    <option value="1">S</option>
                    <option value="2">M</option>
                    <option value="3">L</option>
                </select>
            </div>
            <div style="text-align: center;">
                <label for="Color">Color</label>
                <br>
                <br>
                <select class="form-select">
                    <option value="1">Red</option>
                    <option value="2">Green</option>
                    <option value="3">White</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card" id="card2">
        <div class="top">
            <div class="content">
                <div>
                    <input type="checkbox" name="" value="2" id="radio2">
                </div>
                <div>
                    <p>2 Pair</p>
                    <p style="font-weight:600;">DKK 345.00</p>
                </div>
            </div>

            <div>
                <p style="font-weight:600;">40% OFF</p>
            </div>
        </div>
        <div class="dropDowns" id="selects2" style="display: none;">
            <div class="dropDown1">
                <div style="text-align: center;">
                    <label for="Size">Size</label>
                    <br>
                    <br>
                    <span style="padding-right: 1em;">#1</span><select class="form-select">
                        <option value="1">S</option>
                        <option value="2">M</option>
                        <option value="3">L</option>
                    </select>
                </div>
                <div style="text-align: center;">
                    <label for="Color">Color</label>
                    <br>
                    <br>
                    <select class="form-select">
                        <option value="1">Red</option>
                        <option value="2">Green</option>
                        <option value="3">White</option>
                    </select>
                </div>
            </div>
            <div class="dropDown1">
                <div style="text-align: center;">
                    <span style="padding-right: 1em;">#2</span><select class="form-select">
                        <option value="1">S</option>
                        <option value="2">M</option>
                        <option value="3">L</option>
                    </select>
                </div>
                <div style="text-align: center;">
                    <select class="form-select">
                        <option value="1">Red</option>
                        <option value="2">Green</option>
                        <option value="3">White</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="card3">
        <div class="top">
            <div class="content">
                <div>
                    <input type="checkbox" name="" value="2" id="radio3">
                </div>
                <div>
                    <p>3 Pair</p>
                    <p style="font-weight:600;">DKK 528.00</p>
                </div>
            </div>

            <div>
                <p style="font-weight:600;">60% OFF</p>
            </div>
        </div>
        <div class="dropDowns" id="selects3" style="display: none;">
            <div class="dropDown1">
                <div style="text-align: center;">
                    <label for="Size">Size</label>
                    <br>
                    <br>
                    <span style="padding-right: 1em;">#1</span><select class="form-select">
                        <option value="1">S</option>
                        <option value="2">M</option>
                        <option value="3">L</option>
                    </select>
                </div>
                <div style="text-align: center;">
                    <label for="Color">Color</label>
                    <br>
                    <br>
                    <select class="form-select">
                        <option value="1">Red</option>
                        <option value="2">Green</option>
                        <option value="3">White</option>
                    </select>
                </div>
            </div>
            <div class="dropDown1">
                <div style="text-align: center;">
                    <span style="padding-right: 1em;">#2</span><select class="form-select">
                        <option value="1">S</option>
                        <option value="2">M</option>
                        <option value="3">L</option>
                    </select>
                </div>
                <div style="text-align: center;">
                    <select class="form-select">
                        <option value="1">Red</option>
                        <option value="2">Green</option>
                        <option value="3">White</option>
                    </select>
                </div>
            </div>
            <div class="dropDown1">
                <div style="text-align: center;">
                    <span style="padding-right: 1em;">#3</span><select class="form-select">
                        <option value="1">S</option>
                        <option value="2">M</option>
                        <option value="3">L</option>
                    </select>
                </div>
                <div style="text-align: center;">
                    <select class="form-select">
                        <option value="1">Red</option>
                        <option value="2">Green</option>
                        <option value="3">White</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 2em;
    display:flex;
    gap:5em;
    ">
        <span class="span">Free 2 Day Shipping</span>
        <span style="font-weight: bold;">Total:<span id="dkk" style="font-weight: bold;">DKK 00.000</span>
    </div>
    <button>+ Add to Cart</button>
    <script src="js/script.js"></script>
</body>

</html>